* {
  font-family: "Ubuntu", sans-serif;
}

.gradient {
  background-image: linear-gradient(to right, #ff6d09 0%, #ff0f39 100%);
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: 0.8s;
}

.spinner-border {
  color: #ff6d09;
}

.gradient:focus {
  outline: none;
}

.gradient:hover {
  background-image: linear-gradient(to left, #ff6d09 0%, #ff0f39 100%);
  transform: scale(1.03);
}

.background {
  min-height: 100vh;
  background: url("../img/bg3.jpg"), url("../img/bglow.jpg") no-repeat #020646;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;

  nav {
    height: 150px;
    background: transparent;
    padding: 0 10px;

    .container {
      max-width: 1300px;

      #logo {
        width: 200px;
        cursor: pointer;
        transition: 0.7s;
      }

      #logo:hover {
        transform: scale(1.05);
      }
      #navbarNav {
        z-index: 1;
        li {
          margin: 10px;
          font-weight: bold;
          font-size: 18px;
        }
        a {
          color: #fff;
          transition: 0.5s;
        }

        a:hover,
        a:focus {
          color: #ff3824;
          transform: scale(1.04);
        }
      }
    }
  }
}

::placeholder {
  color: #fff;
}

.searchcontainer {
  height: 150px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    margin: 0;
    padding: 10px 20px;
    // background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2424b5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2424b5;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.getstarted {
  background: #f5f5f7;
  min-height: calc(100vh - 300px);
}

div.coinscontainer {
  min-height: calc(100vh - 300px);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  header {
    color: #fff;

    h1 {
      font-size: 90px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      font-size: 25px;
      font-weight: 300;
      color: #a7a7b4;
      margin-top: 15px;
    }

    .gradient {
      padding: 15px 40px;
      font-size: 18px;
      margin-top: 10px;
    }
  }
  #header {
    width: 400px;
  }

  .cardframe {
    width: 250px;
    height: 300px;
    margin: 5px;
    border: none;

    .card-body {
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 15px;
      }
    }

    .spinner-border {
      height: 50px;
      width: 50px;
      margin: 0 auto;
    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
    }

    div.moreinfo {
      margin-top: 10px;
      padding: 5px;

      ul {
        list-style-type: none;
        text-align: left;
        font-size: 13px;
      }
    }
  }

  .spinner-border {
    height: 100px;
    width: 100px;
    margin-bottom: 60px;
  }
}

div.modal {
  div.modal-header {
    display: block;
    position: relative;
    text-align: center;

    h5 {
      opacity: 0.7;
      letter-spacing: 3px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 50px;
    }
  }

  div.coinframe {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      display: inline;
      font-size: 30px;
      margin-right: 10px;
    }
  }
  button {
    padding: 10px 25px;
  }
}

div.about {
  h3 {
    font-size: 25px;
    margin-top: 30px;
    color: #444444;
    span {
      color: red;
    }
  }
}

@media (min-width: 992px) and (max-width: 1380px) {
  .background {
    background-color: #020646;

    nav {
      height: 130px;
      padding: 0 30px;

      .container {
        #logo {
          width: 190px;
          margin-left: 20px;
        }
      }
    }
  }

  div.coinscontainer {
    margin: 0;
    header {
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 40px;
        margin-top: 5px;
      }
      h3 {
        font-size: 20px;
        margin-top: 15px;
      }

      .gradient {
        padding: 14px 30px;
        font-size: 18px;
      }
    }
    #header {
      width: 370px;
    }
  }

  div.modal {
    div.modal-header {
      display: block;
      position: relative;
      text-align: center;
      h3 {
        font-size: 22px;
      }

      h5 {
        font-size: 17px;
      }
    }
  }

  div.about {
    h1 {
      font-size: 35px;
    }
    h3 {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .background {
    background-color: #020646;

    nav {
      height: 130px;
      background: #060644;
      padding: 0 0px;

      .container {
        min-width: 100% !important;
        padding: 40px 0px;
        display: flex;
        align-items: center;

        #logo {
          width: 180px;
          cursor: pointer;
          transition: 0.7s;
          margin-left: 20px;
        }

        button {
          margin-right: 20px;
          border: none;
          transition: 0.7s;
        }

        button:focus {
          outline: none;
          transform: scale(1.1);
        }

        span {
          background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }

        #navbarNav {
          z-index: 1;
          ul {
            display: block;
            min-width: 100%;
          }
          li {
            display: block;
            text-align: center;
            background: #060644;
            margin: 0px;
            font-size: 18px;
          }
          a {
            color: #fff;
            transition: 0.5s;
            height: 100%;
            padding: 15px 0;
          }

          a:hover {
            background: linear-gradient(to right, #ff6d09 0%, #ff0f39 100%) !important;
            color: #fff;
          }
        }
      }
    }
  }

  .container {
    max-width: 1300px;

    #logo {
      width: 200px;
      cursor: pointer;
      transition: 0.7s;
    }

    #logo:hover {
      transform: scale(1.05);
    }
    #navbarNav {
      z-index: 1;
      li {
        margin: 10px;
        font-weight: bold;
        font-size: 18px;
      }
      a {
        color: #fff;
        transition: 0.5s;
      }

      a:hover,
      a:focus {
        color: #ff3824;
        transform: scale(1.04);
      }
    }
  }

  div.coinscontainer {
    margin: 0;
    header {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 25px;
        margin-top: 10px;
      }
      h3 {
        font-size: 14px;
        font-weight: 300;
        color: #a7a7b4;
        margin-top: 15px;
      }

      .gradient {
        padding: 14px 30px;
        font-size: 18px;
      }
    }
    #header {
      width: 330px;
    }

    .cardframe {
      width: 250px;
      height: 300px;
      margin: 5px;
      border: none;

      .card-body {
        h3 {
          font-size: 30px;
        }
        h4 {
          font-size: 15px;
        }
      }

      .spinner-border {
        height: 30px;
        width: 30px;
      }
    }

    .spinner-border {
      height: 100px;
      width: 100px;
      margin-bottom: 60px;
    }
  }

  div.modal {
    div.modal-header {
      display: block;
      position: relative;
      text-align: center;
      h3 {
        font-size: 22px;
      }

      h5 {
        font-size: 17px;
      }
    }
  }

  div.about {
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
      margin-top: 30px;
      color: #444444;
      text-align: center;
    }
  }
}
